{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- index page css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'mess/index.css' %}">
    <!-- warden page css -->
    <link rel="stylesheet" type="text/css" href="{% static 'mess/warden.css' %}">
    <!-- mess1 css -->
    <link rel="stylesheet" type="text/css" href="{% static 'mess/mess1.css' %">
    <title>{{mess_record.mess_name}}</title>
  </head>
  <body>
 
<div class="container mt-3" id="header_part">
  <img src="{% static 'mess/logo.jpg' %}" class="image-fluid">
  <h2 class="ml-4">National Institue of Technology Warangal</h2>

</div>
<div class="container my-3 p-2" id="title_line">
  <h2>
    Student - Mess Records
  </h2>
  
</div>

 <div class="container " id="mess_detail">
   <h5>Name of Mess : <span>{{mess_record.mess_name}}</span></h5>
   <h5>Warden of Mess : <span>{{warden.name}}</span></h5>
 </div>
 <h4 class="container my-2 p-1" id="today">Today's Price and Extra's Plan</h4>

 <div class="container">
  <form action="{% url 'mess:update' mess_record.mess_name%}" method="POST">
    {% csrf_token %}
    <label for="bname">BreakFast:</label>
    <input type="text" id="bname" name="bname" value={{mess_record.breakfast_rate}}><br><br> 
    <label for="lame">Lunch:</label>
    <input type="text" id="lname" name="lname" value={{mess_record.lunch_rate}}><br><br>
    <label for="dname">dinner:</label>
    <input type="text" id="dname" name="dname", value={{mess_record.dinner_rate}}><br><br>  
    <label for="bxname">BreakFast Extra:</label>
    <input type="text" id="bxname" name="bxname" value={{mess_record.extras_rate_breakfast}}><br><br>
    <label for="exname">Lunch Extra:</label>
    <input type="text" id="exname" name="exname" value={{mess_record.extras_rate_lunch}}><br><br>
    <label for="dxname">Dinner Extra:</label>
    <input type="text" id="dxname" name="dxname" value={{mess_record.extras_rate_dinner}}><br><br>
    <input type="submit" value="Submit">
  </form>
</div>

 </div>
<footer class="container foter my-4 p-2">
   <p>for any query feel free to contact us at support_wsdc@gmail.com</p>
  <p>all right reserved &copy WSDC , Nit Warangal</p>
 
</footer>



















    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>