{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- index page css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'mess/index.css' %}">

    <title>student@mess</title>
  </head>
  <body>
 
<div class="container-fluid" id="header_part">
  <h2 class="ml-4">Mess II {{student_id}}</h2>
</div>
<div class="container my-3 p-2" id="title_line">
  <h3>
    Current Bill
  </h3>
   <h1 class="bill">{{total_bill}}</h1>
</div>
<div class="container my-3 p-2" id="title_line">
  <h3>
    Today's Extras
  </h3>
  <ul>
      <li class="item"> 
          extras          x{{daily_bill.extras}}
      </li>
      <li class="item">
          today's bill    {{todays_bill}}
      </li>
  </ul>
</div>
<div class="container my-3 p-2"><button class="APPROVE">APPROVE</button></div>
<footer class="container foter my-4 p-2">
   <p>for any query feel free to contact us at support_wsdc@gmail.com</p>
  <p>all right reserved &copy WSDC , Nit Warangal</p>
 
</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>